.descarga{
    margin-top: 30px;
    text-align: center;
}

.botonhome{
    margin-left: 100px;
    
}


footer{
    font-family: 'Roboto Flex', sans-serif;
    margin-left: 1300px;
    padding-bottom: 20px;
    color: rgb(0, 0, 0);
    font-weight: bold;

    h5{
        font-family: 'Roboto Flex', sans-serif;
        font-weight: bold;
        font-size: 25px;
                          }
}
